<div class="trial-container">
  <h2>Trials</h2>

  <div class="toggler">
    <label>
      <input type="checkbox" (change)="onToggleChange($event)" />
      Enable Auto Fetch
    </label>
  </div>

  <ul class="trial-list">
    @for (trial of trialList(); track trial.NCTId) {
      <li class="trial-item">
        <input
          type="checkbox"
        />
        <span class="trial-title">{{ trial.NCTId }}</span>
        <span class="trial-title">{{ trial.BriefTitle }}</span>
        <span class="trial-status">({{ trial.OverallStatus }})</span>
  
        <!-- <button (click)="">
          {{ favoritesService.getFavorites()().includes(trial.NCTId) ? 'Unfavorite' : 'Favorite' }}
        </button> -->
      </li>
    } 
    @empty {
        <li class="trial-item">
            <span>No trials available</span>
          </li>
    }

  </ul>

  <!-- Batch operation buttons -->
  <div class="batch-actions">
    <!-- <button (click)="addSelectedToFavorites()">Add Selected to Favorites</button>
    <button (click)="removeSelectedFromFavorites()">Remove Selected from Favorites</button> -->
  </div>
</div>
