<div class="home-container">
  <div class="toggler">
    <button class="btn btn-light toggle-btn"
            (click)="autoFetchService.toggleAutoFetch(!autoFetchService.toggler())"
            [attr.aria-pressed]="autoFetchService.toggler()">
      <i class="bi"
         [class.bi-toggle-on]="autoFetchService.toggler()"
         [class.text-success]="autoFetchService.toggler()"
         [class.bi-toggle-off]="!autoFetchService.toggler()"
         [class.text-danger]="!autoFetchService.toggler()"
         style="font-size: 2rem;"></i>
      <span class="ms-2">
        {{ autoFetchService.toggler() ? 'Auto Fetch ON' : 'Auto Fetch OFF' }}
      </span>
    </button>
  </div>
  <div class="intro-text">Find the latest clinical trials.</div>

  <ul class="list-group">
    @if (loading()) {
      <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    }

    @for (trial of trialList(); track trial.NCTId) {
      <li class="list-group-item d-flex align-items-center">
        <input
          class="form-check-input me-2"
          type="checkbox"
          #trialCheckbox
          id="trial-{{trial.NCTId}}"
          [checked]="selectedTrials().includes(trial.NCTId)"
          (change)="toggleSelection(trial.NCTId, trialCheckbox.checked)"
        />
        <label class="form-check-label flex-grow-1" for="trial-{{trial.NCTId}}">
          <span class="trial-title">{{ trial.BriefTitle }}</span>
          @if (favoritesService.getFavorites()().includes(trial.NCTId)) {
            <i class="bi bi-star-fill text-warning ms-2"></i>
          }
          <span class="trial-status">Status: {{ trial.OverallStatus }}</span>
        </label>
      </li>
    }
    @empty {
      <li class="list-group-item">
        <span class="text-info">No trials available</span>
      </li>
    }
  </ul>

  <div class="batch-actions">
    <button class="btn btn-warning" (click)="onAddSelectedToFavorites()">Add Selected to Favorites</button>
    <button class="btn btn-danger" (click)="onRemoveSelectedFromFavorites()">Remove Selected from Favorites</button>
  </div>
</div>
