<div class="trial-container">
  <h2>Trials</h2>

  <div class="toggler">
    <label>
      <input type="checkbox" 
      #autoFetchCb
      [checked]="autoFetchService.toggler()"
      (change)="onToggleChange(autoFetchCb.checked)" />
      Enable Auto Fetch
    </label>
  </div>

  <ul class="trial-list">
    @if (loading()) {
      <li class="trial-item">
        <span class="loading-message">Loading trials...</span>
      </li>
    }

    @for (trial of trialList(); track trial.NCTId) {
      <li class="trial-item">
        <input
          type="checkbox"
          #trialItemCb
          [checked]="selectedTrials().includes(trial.NCTId)"
          (change)="toggleSelection(trial.NCTId, trialItemCb.checked)"
        />
        <span class="trial-title">{{ trial.NCTId }}</span>
        <span class="trial-title">{{ trial.BriefTitle }}</span>
        <span class="trial-status">({{ trial.OverallStatus }})</span>
        @if (favoritesService.getFavorites()().includes(trial.NCTId)) {
          <span
            class="material-symbols-outlined"
          >favorite</span>
        }
      </li>  
    } 
    @empty {
      <li class="trial-item">
        <span class="no-trials-message">No trials available</span>
      </li>
    }
  </ul>

  <div class="batch-actions">
    <button (click)="onAddSelectedToFavorites()">Add Selected to Favorites</button>
    <button (click)="onRemoveSelectedFromFavorites()">Remove Selected from Favorites</button>
  </div>
</div>
